.products {
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button {
      padding: 5px;
      cursor: pointer;
    }
  }

  // Customize DataGrid style
  .MuiDataGrid-root {
    font-size: 16px; /* Tăng kích thước chữ */
    color: #f0f0f0; /* Màu chữ sáng hơn để tương phản với nền */
    background-color: #1a1a2e; /* Màu nền tối hơn */

    .MuiDataGrid-cell {
      padding: 8px; /* Thêm khoảng cách cho các ô */
      font-weight: 500; /* Đậm chữ */
      color: #ffffff; /* Chữ màu trắng rõ hơn trên nền tối */
      border-bottom: 1px solid #3f3f5b; /* Đường viền ô để phân cách các hàng */
    }

    .MuiDataGrid-columnHeader {
      background-color: #3f3f5b; /* Màu nền của tiêu đề cột */
      font-weight: bold; /* Đậm chữ trong tiêu đề */
      color: #ffffff; /* Chữ trắng trong tiêu đề */
    }

    .MuiDataGrid-row {
      &:nth-of-type(even) {
        background-color: #2e2e48; /* Nền xen kẽ cho hàng chẵn */
      }
      &:nth-of-type(odd) {
        background-color: #1a1a2e; /* Nền xen kẽ cho hàng lẻ */
      }
      &:hover {
        background-color: #3f3f5b; /* Hiệu ứng khi hover */
      }
    }

    .MuiDataGrid-footerContainer {
      background-color: #1a1a2e; /* Nền cho footer */
      color: #ffffff; /* Màu chữ trắng trong footer */
    }

    .MuiDataGrid-toolbar {
      color: #ffffff; /* Chữ trắng trong toolbar */
    }
  }
}
